<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Welcome
        <% if(currentUser) { %>
      ,  <%= currentUser.username %>
      <% } %>
        !</h1>
        <nav>
            <ul>
                <li><a href="/sessions/new">Log In</a></li>
                <li><a href="/users/new">Register</a></li>
                <% if(currentUser) { %>
                    <li>
                        <form action="/sessions?_method=DELETE" method="POST">
                            <input type="submit" value="Logout"/>
                        </form>
                    </li>
                <% } %>
            </ul>
        </nav>
        <main>
            <% if(currentUser) { %>
                Welcome to the <a href="/app">party</a>
            <% } %>
        </main>
    </body>
</html>
