@import "bourbon/bourbon";
@import "neat/neat";
@import 'base/base';

$favorite-color: #265b6a;
$background-color:#D8E1E5;
$text-color:#535454;
$link-color:#FFFBEA;

body {
  background-color: $background-color;
  color: $text-color;
}

a {
  color: $link-color;
}

a:hover {
  color: tint ($link-color, 75%);
}

#container {
  max-width:90%;
  margin:auto;
}
